#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 5px solid white;
}

td {
    padding: 0;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}